.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
*.code-workspace
*.yml
gulpfile.js
build/
buckup/
img/gllacy-catalog.jpg
img/gllacy-index-1200.jpg
package-lock.json
package.json


